.blue {
  color: #1f77b4;
}

.orange {
  color: #ff7700;
}

.green {
  color: #2ca02c;
}

.red {
  color: #d62728;
}

.purple {
  color: #9467bd;
}

.score {
  min-height: 50px;
  min-width: 500px;
}
